:root {
    --gyro-background: hsla(220, 6%, 8%, 1);
    --gyro-darker-grey: hsla(220, 6%, 9.5%, 1);
    --gyro-dark-grey: hsla(220, 6%, 11%, 1);
    --gyro-light-grey: hsla(220, 6%, 15%, 1);
    --gyro-grey: hsla(220, 6%, 14%, 1);
    --gyro-highlight-grey: hsl(220, 6%, 20%);
    --gyro-accent-color: #1991e6;
    --gyro-font-color: #eee;
}

body {
    background: var(--gyro-background);
}

placeholder {
    display: block;
    width: 100%;
    height: 100%;
    background: var(--gyro-dark-grey);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 42px;
    font-weight: 100;
    font-family: sans-serif;
    color: grey;
}

gyro-layout {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}