gyro-layout {
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
    margin: 3px;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
}

gyro-layout-column {
    position: relative;
    display: inline-grid;
    width: 100%;
    height: 100%;
}

gyro-group {
    position: relative;
    overflow: hidden;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    margin: 3px;
    background: var(--gyro-dark-grey);
    color: #eee;
}

gyro-group > [tab]:not([active]) {
    display: none;
    pointer-events: none;
}

gyro-group[drag-over] {
    --left: 0;
    --top: 0;
    --width: 100%;
    --height: 100%;
}

gyro-group[drag-over]::after {
    content: '';
    background: white;
    opacity: 0.05;
    position: absolute;
    top: var(--top);
    left: var(--left);
    z-index: 10000;
    width: var(--width);
    height: var(--height);
    pointer-events: none;
}

.split-bar {
    z-index: 100000;
    position: absolute;
    left: calc(var(--x, 0) * 1px);
    top: calc(var(--y, 0) * 1px);
    transform: translate(-50%, 0);
    opacity: 0.25;
    border-radius: 5px;
    background: var(--gyro-highlight-grey);
}
.split-bar[active] {
    background: var(--gyro-accent-color);
}
.split-bar::after {
    content: "";
    z-index: 10000;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 200px;
    transform: translate(-50%, 0);
    cursor: col-resize;
}
.split-bar::before {
    content: "";
    z-index: 10000;
    position: absolute;
    top: 0;
    left: 0;
    height: 200px;
    width: 100%;
    transform: translate(0, -50%);
    cursor: col-resize;
}